body{
    background:#111;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}

h1{
    color:#00ff88;
    margin:80px;
}

.game{
    margin-bottom:60px;
}

.subtitle{
    color:#bfbfbf;
    font-size:20px;
    margin-top:-20px;
    margin-bottom:40px;
}

iframe{
    width:800px;
    max-width:90%;
    height:450px;
    border:none;
    border-radius:12px;
}
