body{
    background:#111;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
}

h1{
    color:#00ff88;
    font-size:60px;
    margin:40px;
}

.game{
    margin-bottom:60px;
}

.subtitle{
    color:#bfbfbf;
    font-size:20px;
    margin-top:-300px;
    margin-bottom:40px;
}

iframe{
    width:800px;
    max-width:90%;
    height:450px;
    border:none;
    border-radius:48px;
    box-shadow:0 5px 20px rgba(0,0,0.5);
}

.game-card{
    background:#222;
    width:900px;
    max-width:90%;
    margin:40px auto;
    padding:25px;
    border-radius:15px;
    border:2px solid #00ff88;
    box-shadow:0 0 20px rgba(0,255,136,0.3);
}

.game-card img{
    width:100%;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
}

.game-card img:hover{
    transform:scale(1.02);
}

.back-button{

    display:inline-block;

    margin-top:30px;

    color:#00ff88;

    text-decoration:none;

    font-size:20px;

    font-weight:bold;

}

.back-button:hover{

    text-decoration:underline;

}

header{

    background-image: url("images/gamefinder.jpg");
    background-size: cover;
    background-position: center;

    height:400px;

    padding:25px;

    border-bottom:2px solid #00ff88;

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

nav{

    margin-top:20px;

}

nav a{

    color:white;

    text-decoration:none;

    margin:20px;

    font-size:40px;

    transition:0.3s;

}

nav a:hover{

    color:#00ff88;

}
